# Arquivos compilados do Java (NÃO SUBIR)
*.class

# Pastas de saída de compilação
bin/
out/
target/

# Configurações de IDEs (VS Code, IntelliJ, Eclipse)
.vscode/
.idea/
*.iml
.metadata/
.classpath
.project
.settings/

# Arquivos temporários do Sistema Operacional
.DS_Store
Thumbs.db